<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550126609766-pvjj6ei86ntknu9omggl1jol0ajs8vmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550126609766-pvjj6ei86ntknu9omggl1jol0ajs8vmg</string>
	<key>API_KEY</key>
	<string>AIzaSyBORuUHNTLuFOWU74tM8as1PaM4wtRzUcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>550126609766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iotcomms.jica</string>
	<key>PROJECT_ID</key>
	<string>jica-application</string>
	<key>STORAGE_BUCKET</key>
	<string>jica-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550126609766:ios:e42e25868aebad68ac14a7</string>
</dict>
</plist>